:root {
    /* LightMode */
   /*  --black-olive: #404A46ff;
    --green-pigment: #1C9941ff;
    --whitegreen: #E6F5E5;
    --yellow: #C8D92Bff;
    --middle-green-yellow: #B4C057ff;
    --russian-green: #70937Bff;
    --ash-gray: #CDD9C9ff;
    --baby-powder: #F8FAF8ff;
    --eton-blue: #89C99Bff; */

    /* DarkMode */
    --tea-green: #d7ecc1;
    --laurel-green: #bacaa4;
    --artichoke: #9da786;
    --artichoke-a9: #9da786a9;
    --ebony: #62624a;
    --acid-green: #b6c825;
    --green-pigment: #1c9941;
    --green-pigment-4d:#1c99414d;
    --cadmium-green: #115f28;
    --cadmium-green-9d: #115f289d;
    --eerie-black: #171717;
}

* {
    Box-sizing: border-box;
    Padding: 0 0;
    Margin: 0 0;
}

body {
    display: flex; flex-direction: column;
    margin-top: 0px;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
#header {
    background: linear-gradient(344deg, var(--artichoke) 0%, var(--ebony) 32%, var(--eerie-black) 64%, var(--eerie-black) 86%);
     
    display: flex; flex-direction: row; 
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    border-bottom-style: ridge;
    border-color: var(--acid-green);
    
}
header div p, header div h1 {
    color:beige;
    font-family: cursive;
    margin-left: 2vw;
    font-size: 2vw;
}
header div h1 {
    letter-spacing: 1px;
    margin-block-start: 0.4em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-block-start: 1em; 
    text-align: center;   
    color: var(--tea-green);

}
#logo {
    width: 25%;
    align-self: center;
    padding-left: 20px;
    
}
#title {
    width: 45%;
    display: flex; align-content: center; justify-content: space-around;
}
nav {
    display: flex;
    align-items: center;
    background: #d2691e00;
    border-color: transparent;
    opacity: 0.7;
    padding: 5px 4px;
    width: 24%;
    align-self: center;
}
nav:hover {
    opacity: 1;
    border-color: var(--eerie-black);
    border-style: ridge;
    background: linear-gradient(0deg, var(--laurel-green), var(--ebony));
    border-width: thin;
    transition-duration: 0.5s;
}
#link-form {
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.05em;
}
#label-contacto {
    padding: 0px 7px 0px 0px;
    color: var(--eerie-black);
    font-family: cursive;
    font-weight: 700;
    font-size: 1.6vw;
    cursor:pointer;
    text-align: center;
}
main {
    width: 100%;
    background-color: var(--ebony);
    display: flex; 
    flex-direction: column; 
    align-items: center;
    overflow: hidden;
}
picture {
    display: flex; flex-direction: column;
    align-items: center;
    margin: 1% 0% 0% 0%;

}
#tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--tea-green);
    font-family: unset;
    background-color: var(--green-pigment-4d);
    border-radius: 10px;
    width: min(100%,620px);
    position: relative;
    margin-top: 4.5%;
    padding: 1vw 2vw;
    font-size: min(2.5vw,22px);
    border-style: ridge;
    border-color: var(--acid-green);
    border-width: 3px;
}
#tarjeta img {
    height:70%;
    width: 23%;
    border-radius: 41%;
    margin-right: 15px;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 70%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 20px;
    font-weight: 400;
    row-gap: 35px;
}
section#descripcion {
    background: var(--green-pigment-4d);
    padding: 20px 20px;
    border-style: ridge;
    border-width: 3px;
    border-color: var(--acid-green);
    border-radius: 17px;
    color: var(--tea-green);
}

footer {
    background: linear-gradient(342deg, var(--acid-green) 0%, var(--artichoke) 8%, var(--ebony) 30%,var(--eerie-black) 74%,var(--eerie-black) 100%);
    opacity: 0.9;
    background-size: 100% 100%;
    width: 100%; height: 17vh;
    color: beige;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    
}
#div-contacto {
    align-items: center;    
    display: flex;
    flex-direction: column;
    width: min-content;
    position: absolute;
    
}


:checked ~ form#contacto {
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.6, 1.43, 0.82, -1.15);
    opacity: 1;
    background-color: var(--tea-green);
    padding-bottom: 500px;
    height: max-content;
}

footer p {
    margin-right: 2%;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    overflow: hidden;    
}
form#contacto {
    margin-bottom: 0.2rem;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    opacity: 0;
    order: 0;
    z-index: 0;
    height: 0vh;
    row-gap: min(1vw,10px);

    
}

form input {
    display: flex;
    flex-direction: column;
    margin: 1.5vw;
    width: 27vw;
    height: max(1.3em,27px);
    border-radius: 7px;
    border-width: 0.3vw;    
}

footer h2 {
    vertical-align: top;
    margin: 0em 1em;
}
#contenido {
    background: url("../assets/Footer-background.jpg");
    background-size: 101% 122%;
    height: 100%;
    position: relative;
}
.blur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: #524d23a6;
    backdrop-filter: blur(2.5px) saturate(2.5);
    padding-bottom: 3.5vw;
}

.label-contacto {
    z-index: 1;
    padding: 20% 20%;
    font-size: min(1.6vw,11px);
    font-family: cursive;
    font-weight: 800;
    color: var(--laurel-green);
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.2s;
}
.label-contacto:hover {
    background-color: var(--tea-green);
    color: var(--eerie-black);
    border: var(--acid-green);
    border-style: double;
    transition-property: all;
    transition-duration: 0.2s;
}
.label-contacto:hover>img {
    fill: var(--eerie-black);
}
#checked {
    position: absolute;
    left: -100vw;
}

#nombre:hover, #apellido:hover, #tel:hover, #correo:hover  {
    border-color: rgb(251, 255, 0);
    border-style:double ;
       
}
#button:hover {
    background-color: #f73e3e;
    font-weight: 700;
    border-color: white;

}
#button {
    border: black;
    font-family: cursive;
    background-color: #cd8526;
    border-style:groove;
    border-radius: 20px;
    padding: 10px 20px;
}



